@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color:  #262222;;
}
.main{
    height: 100vh;
    background-color: #262222;
}
.count {
    width: 1080px;
    height: 400px;
    margin: 0px auto;
    text-align: center;
}
.fake {
    border: 2px solid #efef20;
    width: 255px;
    margin: 0px auto;
    margin-top: 6px;
}
.count-points {
    display: flex;
    width: 100%;
    margin-top: 44px;
}
.player-point{
font-size: 36px;
font-family: 'Varela Round', sans-serif;
color: white;
}
.left-player{
font-size: 24px;
font-family: 'Varela Round', sans-serif;
color: white;

}
.right-player{
   font-size: 24px; 
   font-family: 'Varela Round', sans-serif;
   color: white;
}
.left-count {
    margin-left: 29px;
}
.right-count {
    margin-left: 741px;
}
 .btnimg {
    width: 127px;
    height: 174px;
}
.game-img{
    width: 80vw;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.btn {
    margin: 0px 34px;
    border: 2px solid black;
    border-radius: 5px;
    color: #efef20;
}
.pressed {
    box-shadow: 0 3px 4px 0 #4eb4d6;
    opacity: 0.2;
  }
  .gamebtn1{
    background-image: url('Img/rock.png');
    width: 127px;
    height: 199px;
    background-size: cover;
  }
  .gamebtn2{
    background-image: url('Img/paper.png');
    width: 127px;
    height: 199px;
    background-size: cover;
  }
  .gamebtn3{
    background-image: url('Img/scissor.png');
    width: 127px;
    height: 199px;
    background-size: cover;
  }
  .tie-head {
    font-size: 39px;
    margin-top: 40px;
    font-family: 'Varela Round', sans-serif;
    color: white;
}
.win-ses{
    font-size: 39px;
    margin-top: 30px;
    font-family: 'Varela Round', sans-serif;
    color: white;

}
.un-point{
    color: #efef20;
}
.count-round {
    width: 100vw;
    height: 100vh;
    background-color: #262222;
}
.input-box {
    width: 284px;
    height: 32px;
    font-size: 25px;
    border-radius: 12px;
    background-color: #efef20;
    color: black;
}
.clickBtn {
    font-size: 25px;
    width: 106px;
    height: 32px;
    border-radius: 12px;
    background-color: #efef20;
    color: black;
}
.under-count {
    flex-direction: column;
    width: max-content;
    margin: 0px auto;
    margin-top: 40vh;
}
.underBtn-count{
    width: max-content;
    margin: 0px auto;
    margin-top: 23px;
}
.count-round h1{
    color: white;
    font-family: 'Varela Round', sans-serif;
    width: max-content;
    margin: 10px auto;
    font-size: 40px;
}
.fak1{
width: 792px;
border: 2px solid #efef20;
margin: 0px auto;
}
@media(max-width:1088px){
    .game-img {
        width: 563px;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        margin-left: 266px;
    }
    .gamebtn1 {
        background-image: url('Img/rock.png');
        width: 199px;
        height: 344px;
        background-size: cover;
    }
    .gamebtn2 {
        background-image: url('Img/paper.png');
        width: 199px;
        height: 344px;
        background-size: cover;
    }
    .gamebtn3 {
        background-image: url('Img/scissor.png');
        width: 199px;
        height: 344px;
        background-size: cover;
    }
    
    

.btn {
    margin: 0px 15px;
    border: 2px solid black;
    border-radius: 5px;
    color: #efef20;
}
}
@media(max-width:700px){
    .player-point {
        font-size: 60px;
        font-family: 'Varela Round', sans-serif;
        color: white;
    }
    .fake {
        border: 2px solid #efef20;
        width: 446px;
        margin: 0px auto;
        margin-top: 6px;
    }
    .left-count {
        margin-left: -28px;
    }
    .left-player {
        font-size: 38px;
        font-family: 'Varela Round', sans-serif;
        color: white;
        width: 371px;
    }    
    .right-count {
        margin-left: 378px;
    }
    .right-player {
        font-size: 38px;
        font-family: 'Varela Round', sans-serif;
        color: white;
        width: 371px;
    } 
    .tie-head {
        font-size: 49px;
        margin-top: 40px;
        font-family: 'Varela Round', sans-serif;
        color: white;
    }
    .win-ses {
        font-size: 49px;
        margin-top: 30px;
        font-family: 'Varela Round', sans-serif;
        color: white;
    }
    .game-img {
        width: 802px;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        margin-left: 266px;
    }
    .gamebtn1 {
        background-image: url('Img/rock.png');
        width: 242px;
        height: 518px;
        background-size: cover;
    }
    .gamebtn2 {
        background-image: url('Img/paper.png');
        width: 242px;
        height: 518px;
        background-size: cover;
    }
    .gamebtn3 {
        background-image: url('Img/scissor.png');
        width: 242px;
        height: 518px;
        background-size: cover;
    }
    .game-img {
        width: 802px;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        margin-left: 148px;
    }
}
@media(max-width:500px){
    .player-point {
        font-size: 79px;
        font-family: 'Varela Round', sans-serif;
        color: white;
    }
    .fake {
        border: 2px solid #efef20;
        width: 589px;
        margin: 0px auto;
        margin-top: 6px;
    }
    .left-player {
        font-size: 56px;
        font-family: 'Varela Round', sans-serif;
        color: white;
        width: 400px;
    }
    .right-player {
        font-size: 56px;
        font-family: 'Varela Round', sans-serif;
        color: white;
        width: 400px;
    }
    .right-count {
        margin-left: 249px;
    }
    .count {
        width: 1080px;
        height: 720px;
        margin: 0px auto;
        text-align: center;
    }
    .tie-head {
        font-size: 76px;
        margin-top: 40px;
        font-family: 'Varela Round', sans-serif;
        color: white;
    }
    .win-ses {
        font-size: 76px;
        margin-top: 20px;
        font-family: 'Varela Round', sans-serif;
        color: white;
    }
    .game-img {
        width: 966px;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        margin-left: 63px;
    }
    .gamebtn1 {
        background-image: url('Img/rock.png');
        width: 311px;
        height: 518px;
        background-size: cover;
    }
    .gamebtn2 {
        background-image: url('Img/paper.png');
        width: 311px;
        height: 518px;
        background-size: cover;
    }
    .gamebtn3 {
        background-image: url('Img/scissor.png');
        width: 311px;
        height: 518px;
        background-size: cover;
    }
}



